<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectModuleMapper">
    
    <resultMap type="ProjectModule" id="ProjectModuleResult">
        <result property="moduleId"    column="module_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="moduleName"    column="module_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectProjectModuleVo">
        select module_id, project_id, module_name, parent_id, order_num, create_by, create_time, update_by, update_time, del_flag from project_module
    </sql>

    <select id="selectProjectModuleList" parameterType="ProjectModule" resultMap="ProjectModuleResult">
        <include refid="selectProjectModuleVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="moduleName != null  and moduleName != ''"> and module_name like concat('%', #{moduleName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>
    
    <select id="selectProjectModuleByModuleId" parameterType="Long" resultMap="ProjectModuleResult">
        <include refid="selectProjectModuleVo"/>
        where module_id = #{moduleId}
    </select>

    <insert id="insertProjectModule" parameterType="ProjectModule" useGeneratedKeys="true" keyProperty="moduleId">
        insert into project_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="moduleName != null and moduleName != ''">module_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="moduleName != null and moduleName != ''">#{moduleName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateProjectModule" parameterType="ProjectModule">
        update project_module
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="moduleName != null and moduleName != ''">module_name = #{moduleName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where module_id = #{moduleId}
    </update>

    <delete id="deleteProjectModuleByModuleId" parameterType="Long">
        delete from project_module where module_id = #{moduleId}
    </delete>

    <delete id="deleteProjectModuleByModuleIds" parameterType="String">
        delete from project_module where module_id in 
        <foreach item="moduleId" collection="array" open="(" separator="," close=")">
            #{moduleId}
        </foreach>
    </delete>
</mapper>