<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.execute.mapper.WorkLogMapper">
    
    <resultMap type="WorkLog" id="WorkLogResult">
        <result property="logId"    column="log_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="userId"    column="user_id"    />
        <result property="workDate"    column="work_date"    />
        <result property="hours"    column="hours"    />
        <result property="description"    column="description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWorkLogVo">
        select log_id, task_id, user_id, work_date, hours, description, create_by, create_time, update_by, update_time from work_log
    </sql>

    <select id="selectWorkLogList" parameterType="WorkLog" resultMap="WorkLogResult">
        <include refid="selectWorkLogVo"/>
        <where>  
            <if test="logId != null "> and log_id = #{logId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="workDate != null "> and work_date = #{workDate}</if>
            <if test="hours != null "> and hours = #{hours}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectWorkLogByLogId" parameterType="Long" resultMap="WorkLogResult">
        <include refid="selectWorkLogVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertWorkLog" parameterType="WorkLog" useGeneratedKeys="true" keyProperty="logId">
        insert into work_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="workDate != null">work_date,</if>
            <if test="hours != null">hours,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="workDate != null">#{workDate},</if>
            <if test="hours != null">#{hours},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWorkLog" parameterType="WorkLog">
        update work_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="workDate != null">work_date = #{workDate},</if>
            <if test="hours != null">hours = #{hours},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteWorkLogByLogId" parameterType="Long">
        delete from work_log where log_id = #{logId}
    </delete>

    <delete id="deleteWorkLogByLogIds" parameterType="String">
        delete from work_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>